<div class="login-container">
  <div class="front-matter">
    <h1>Login</h1>
    <div>
      <%= form_tag(session_path) do %>
        <%= text_field_tag :email, value = nil, placeholder: 'Email', :class => "form-control" %><br/>
        <%= password_field_tag :password, value = nil, placeholder:'Password', :class => "form-control" %><br/>
        <%= submit_tag('LOGIN', :class => 'btn get-started') %>
      <% end %>
      <p style="color: red"><%= flash[:error] %></p>
      <p style="color: green;"><strong><%= flash[:notice] %></strong><p>
    </div>
    <p><%= link_to('Sign up', new_user_path) %></p>
  </div>
</div>
