<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li style="color: red"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="front-matter">
    <h1 id='new-user'>New user</h1>
    <p>
      <%= f.text_field :email, placeholder: 'email', :class => "form-control" %><br/>
    </p>

    <p>
      <%= f.text_field :name, placeholder: 'name', :class => "form-control" %><br/>
    </p>

      <%= f.password_field :password, placeholder: 'password', :class => "form-control" %><br/>
    </p>

    <p><%= f.submit 'Signup', :class => 'btn get-started'%></p>
  </div>
<% end %>
