<div class="front-matter col-md-4 col-md-offset-4">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li style="color: red"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h1>Sign Up</h1>
    <p>
      <%= f.text_field :email, placeholder: 'email', :class => "form-control" %><br/>
    </p>

    <p>
      <%= f.text_field :name, placeholder: 'name', :class => "form-control" %><br/>
    </p>

    <p>
      <%= f.text_field :twitter, placeholder: 'twitter', :class => "form-control" %><br/>
    </p>

     <p>
      <%= f.text_field :city, placeholder: 'city', :class => "form-control" %><br/>
    </p>

   <!--  <p>
      <%= f.file_field :avatar , placeholder: 'photo', :class => "form-control" %><br/>
    </p> -->

    <p>
      <%= f.password_field :password, placeholder: 'password', :class => "form-control" %><br/>
    </p>

    <p><%= f.submit 'Signup', :class => 'btn', :id => 'new-user-btn'%></p>
  </div>
<% end %>
