<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li style="color: red"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h1 id='new-user'>New user</h1>
    <p>
      <%= f.text_field :email, placeholder: 'email' %><br/>
    </p>

    <p>
      <%= f.text_field :name, placeholder: 'name' %><br/>
    </p>

      <%= f.password_field :password, placeholder: 'password' %><br/>
    </p>

    <p><%= f.submit %></p>
  </div>
<% end %>
