<div id="user_container">



<div class="tape-list">
      <h3>Your Tapes</h3>
      <ul id="tapes">
        <% @tapes.each do |tape| %>
          <li class="tapes"><img src="<%= tape.img_url %>"width="30px"/>
            <%= link_to(tape.name, edit_tape_path(tape.id), class: 'tape-link') %>

          </li>
        <% end %>
      </ul>
    </div>


  <div id='overlay_btn'>
   <a id='overlay-link' href='#' onclick='overlay()'>Make a New Tape</a>
  </div>

  <div id='overlay'>
     <div id="create">
          <h4>Give Your Tape a Name</h4>
            <input id='customize' type='text' placeholder='name'>
          <h4>Email of Receiver</h4>
            <input id='receiver' type='text' placeholder='email'>
          <h4>Include a Message</h4>
            <input id='message' type='text' placeholder='message'><br/>
            <button id='custom-submit'>Customize</button>
               <a id='close' href='#' onclick='overlay()'>CLOSE</a>
     </div>
</div>
  <div id='tape-options'>
    <%= image_tag('tape_01.png', id:'yellowpink') %>
    <%= image_tag('tape_02.png', id:'clearblue' ) %>
    <%= image_tag('tape_03.png', id:'redgreen') %>
    <%= image_tag('tape_04.png', id:'yellowgreen') %>
    <%= image_tag('tape_05.png', id:'bluewhite') %>
    <%= image_tag('tape_06.png', id:'rainbow') %>
    <%= image_tag('tape_07.png', id:'pink') %>
    <%= image_tag('tape_08.png', id:'greenyellow') %>
    <%= image_tag('tape_09.png', id:'black') %>
    <%= image_tag('tape_10.png', id:'blue') %>
  </div>
<div id="boombox">
       <%= image_tag('booombox_02.png', id:"boombox") %>
    <div id="edit-tape">
    </div>
</div>



</div>
