
<div class="container">
  <div class="row user-container">
    <div class="col-md-6 detail-box">
      <div class="col-md-6 visible-details">
        <h3>Welcome back, <span class="user-info"><%= @user.name %></span></h3>
        <h4 class="user-info"><i class="fa fa-check-circle-o"></i> <%= @user.city %></h4>
        <h4 class="user-info"><i class="fa fa-twitter"></i><%= @user.twitter %></h4>

        <button id="edit-user" type="button" class="btn btn-labeled btn-info" href="#">
        <span class="btn-label"><i class="fa fa-pencil"></i></span>Edit</button></br></br>

        <i id='overlay-link' class="icons icon-tape_glyph profile-icons" onclick='overlay()'></i>
       </div>

       <div class="col-md-6 edit-details">
         <h3 class="welcome" id="<%= @user.id %>">Welcome back, <span class="user-info"><%= @user.name %></span></h3>
        <input id="update-name" class="form-control editing" type="text" value="<%= @user.name %>">
        <input id="update-city" class="form-control editing" type="text" value="<%= @user.city %>">
        <input id="update-twitter" class="form-control editing" type="text" value="<%= @user.twitter %>">

        <button id="update-user" type="button" class="btn btn-labeled btn-info editing" href="#">Update</button></br></br>

       </div>

       <div class="col-md-6">
        <div class="user-image">

           <%= image_tag(@user.avatar, :id => "user-photo", :width => "200px") %>
        </div>
          <% if @user.avatar == "default-avatar.png" %>
            <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li style="color: red"><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <p>Add a Pic</p>

              <p>
                <%= f.file_field :avatar %><br/>
              </p>

              <p><%= f.submit 'Upload', :id => "upload", :class => 'btn-default' %></p>

          <% end %>
        <% end %>
       </div>
    </div>
<!-- tape shelf -->
  <div class="col-md-6">
     <h3 id="your-tapes">Your Tapes</h3>
      <% if @user.tapes.length == 0 %>
        <h4 style="color: red;">You don't have any tapes, Make one now!</h4>
        <button class="btn make-tape" onclick='overlay()'>Make a Tape</button>
      <% else %>
        <ul id="tapes">
          <% @tapes.each do |tape| %>
            <li class="tapes"><img src="<%= tape.img_url %>"width="30px"/>
              <%= link_to(tape.name, edit_tape_path(tape.id), class: 'tape-link') %>

            </li>
          <% end %>
        </ul>
      <% end %>
  </div>

<!-- new tape overlay -->
<div id='overlay'>
     <div id="create">
          <h4>Give Your Tape a Name</h4>
            <input id='customize' class='form-control' type='text'>
          <h4>Email of Receiver</h4>
            <input id='receiver' class='form-control' type='text'>
          <h4>Include a Message</h4>
            <input id='message' class='form-control' type='text' cols="50" rows="10"></input><br/>
            <div id="custom-btn-container">
              <button id='custom-submit' class='btn'>Customize</button></br></br>
              <button class='btn'onclick='overlay()'>Cancel</button>
            </div>
     </div>



    </div>
  </div>
</div>




