<!DOCTYPE html>
<html>
  <head>
    <title>MixtapeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://connect.soundcloud.com/sdk.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
    <body>

      <nav>
        <ul class="nav">

          <% if session[:user_id] %>
            <%= link_to image_tag('Logo.png', id:'logo'), user_path(session[:user_id]) %>
          <% else %>
            <%= link_to image_tag('Logo.png', id:'logo'), root_path %>
          <% end %>

          <% if session[:user_id] %>
            <%= link_to  '<i class="fa fa-user"></i> Logout'.html_safe , session_path, method: :delete, class:'login' %>
          <% else %>
            <%= link_to '<i class="fa fa-user"></i> Log In'.html_safe, login_path, class:'login' %></li><br/>
          <% end %>

        </ul>
      </nav>


<%= yield %>

<script type="text/template" id="song-template">
  <span class="delete-song">X</span>
  {{ song.name }}
</script>

<script type="text/template" id="search-result-template">
  <i id="sc-play" class="fa fa-play"></i><span>{{ song.title }}</span><span class="add">Add to Playlist</span>
</script>

    </body>
</html>
