<!DOCTYPE html>
<html>
<head>
  <title>MixtapeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://connect.soundcloud.com/sdk.js"></script>

</head>
<body>
    <nav>
    <ul class="nav">

       <% if session[:user_id] %>
        <a href="/users/<%= session[:user_id] %>"><img src="/assets/Logo.png" id="logo"></a>
      <% else %>
       <a href="/"><img src="/assets/Logo.png" id="logo"></a>
      <% end %>
        <% if session[:user_id] %>
          <%= link_to 'Logout', session_path, method: :delete %>
          <% else %>
        <li class="login"><%= link_to 'Log In', login_path %></li>
          <li class="signup"><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>

      </ul>
    </nav>


<%= yield %>

</body>
</html>
